.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#map {
    flex-grow: 1;
    height: 100%;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.filter-section h5 {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.custom-icon {
    color: #d21c1c;
    font-size: 28px;
}
.address-popup {
    padding: 5px;
    min-width: 150px;
}

input[type="number"] {
    width: 100%;
    margin-bottom: 10px;
}

select {
    width: 100%;
}
