<!DOCTYPE html>
<html>
<head>
    <title>Student Housing Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'housing/styles.css' %}">
</head>
<body>
    <div id="filter-container">
        <h4>Filter Layers</h4>
        <div class="filter-checkbox">
            <input type="checkbox" id="public-transport" checked>
            <label for="public-transport">Public Transport</label>
        </div>
        <div class="filter-checkbox">
            <input type="checkbox" id="university-buildings">
            <label for="university-buildings">University Buildings</label>
        </div>
        <div class="filter-checkbox">
            <input type="checkbox" id="outdoor-activities">
            <label for="outdoor-activities">Outdoor Activities</label>
        </div>
        <div class="filter-checkbox">
            <input type="checkbox" id="green-spaces">
            <label for="green-spaces">Green Spaces</label>
        </div>
    </div>
    <div id="map"></div>
    <script>
        var map = L.map('map', {
            center: [51.1657, 10.4515],
            zoom: 6,
            layers: [] 
        });

        var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors'
        });

        var satellite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors, HOT'
        });

        osm.addTo(map);

        var baseMaps = {
            "OpenStreetMap": osm,
            "Satellite": satellite
        };

        L.control.layers(baseMaps).addTo(map);
        var addressData = {{ address_data|safe }};
        var addressLayer = L.geoJSON(addressData, {
            pointToLayer: function(feature, latlng) {
                return L.marker(latlng, {
                    icon: L.divIcon({
                        html: '<i class="fas fa-building custom-icon"></i>',
                        iconSize: [0, 0], 
                        iconAnchor: [15, 30], 
                        popupAnchor: [0, -30] 
                    })
                });
            },
            onEachFeature: function(feature, layer) {
                if (feature.properties.name) {
                    layer.bindPopup('<div class="address-popup">' + 
                        feature.properties.name + '</div>');
                }
            }
        }).addTo(map);


        map.fitBounds(addressLayer.getBounds());
    </script>
</body>
</html>
